__pycache__
data/lazFiles
data/classified_lazFiles
data/normalized_lazFiles
data/temp
data/kpois/*
!data/kpois/20241117-kma_avalik_muinsuskaitse_241_1007_shp.zip
data/inspire/*
!data/inspire/PS_ProtectedSite_malestised.zip